LOKI_URL=YOUR_LOKI_URL
LOKI_USERNAME=YOUR_LOKI_USERNAME
LOKI_PASSWORD=YOUR_LOKI_PASSWORD

SLACK_BOT_TOKEN=YOUR_SLACK_BOT_TOKEN
SLACK_APP_TOKEN=YOUR_SLACK_APP_TOKEN
SLACK_BOT_USER_ID=YOUR_SLACK_BOT_USER_ID
SLACK_INCOMING_WEBHOOK_URL=YOUR_SLACK_INCOMING_WEBHOOK_URL

ALERT_SLACK_CHANNEL_ID=YOUR_SLACK_CHANNEL_ID
ALERT_MENTION_USERS=YOUR_SLACK_USER_ID1,YOUR_SLACK_USER_ID2
